.header {
	--animation-speed: 500ms;
	--header-background: var(--light75);

	/* life writng color: hsla(40, 10%, 75%, 0.75) */

	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: var(--large);
	z-index: 2;
	transition: all var(--animation-speed) ease-in-out;
}

.header a,
.header a:visited,
.header a:hover {
	color: var(--font-dark);
}

.scrolled_header {
	background: var(--header-background);

	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	box-shadow: var(--shadow);

	padding: var(--medium) var(--large);
}

.scrolled_header:hover {
	background: var(--light90);
}

.scrolled_header nav {
	padding-top: var(--puny);
}

.logo {
	display: flex;
	flex-direction: column;
}

.logo:hover {
	color: var(--dark);
}

.logo::before,
.logo::after {
	display: none;
}

.site_caption_container {
	display: flex;
	gap: calc(var(--tiny) * 2);
}

.site_caption {
	padding-top: var(--puny);
	overflow: hidden;
	animation: fadein var(--animation-speed) ease-in-out var(--animation-speed) both;
}

.hidden {
	animation: fadeout var(--animation-speed) ease-in-out both;
}

.visible {
	animation: fadein var(--animation-speed) ease-in-out var(--animation-speed) both;
}

.hidden_header {
	display: none;
}

@keyframes fadeout {
	from {
		opacity: 1;
		max-height: 30px;
	}

	50% {
		opacity: 0;
		max-height: 30px;
	}

	to {
		opacity: 0;
		max-height: 0px;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		max-height: 0px;
	}

	50% {
		opacity: 0;
		max-height: 30px;
	}

	to {
		opacity: 1;
		max-height: 30px;
	}
}
