.header {
	--animation-speed: 500ms;

	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: space-between;

	/* background-image: linear-gradient(var(--light2_3), var(--light) calc(var(--header-height) * 2)), url('/assets/images/background-home.png'); */
	background-image: url('/assets/images/background-home.png');
	background-position-y: top;
	background-size: cover;
	background-repeat: no-repeat;

	backdrop-filter: brightness(500%);

	width: 100%;
	padding: var(--large);
	z-index: 2;
	transition: all var(--animation-speed) ease-in-out;
	/* animation: grow var(--animation-speed) ease-in-out both; */
}

.header a,
.header a:visited,
.header a:hover {
	color: var(--font-dark);
}

.scrolled_header {
	/* background: var(--light75); */

	backdrop-filter: blur(24px);
	box-shadow: var(--shadow);

	padding: var(--medium) var(--large);

	/* animation: shrink var(--animation-speed) ease-in-out var(--animation-speed) both; */
}

.scrolled_header:hover {
	background: var(--light90);
}

.scrolled_header nav {
	padding-top: var(--puny);
}

.logo {
	display: flex;
	flex-direction: column;
}

.logo:hover {
	color: var(--dark);
}

.logo::before,
.logo::after {
	display: none;
}

.site_caption_container {
	display: flex;
	gap: calc(var(--tiny) * 2);
}

.site_caption {
	padding-top: var(--puny);
	overflow: hidden;
	animation: fadein var(--animation-speed) ease-in-out var(--animation-speed) both;
}

.hidden {
	animation: fadeout var(--animation-speed) ease-in-out both;
}

.visible {
	animation: fadein var(--animation-speed) ease-in-out var(--animation-speed) both;
}

@keyframes shrink {
	from {
		background: none;
		backdrop-filter: none;
		box-shadow: none;
	}

	to {
		background: var(--light75);
		backdrop-filter: blur(30px);
		box-shadow: var(--shadow);
	}
}

@keyframes grow {
	from {
		background: var(--light75);
		backdrop-filter: blur(30px);
		box-shadow: var(--shadow);
	}

	to {
		background: none;
		backdrop-filter: none;
		box-shadow: none;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
		max-height: 30px;
	}

	50% {
		opacity: 0;
		max-height: 30px;
	}

	to {
		opacity: 0;
		max-height: 0px;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		max-height: 0px;
	}

	50% {
		opacity: 0;
		max-height: 30px;
	}

	to {
		opacity: 1;
		max-height: 30px;
	}
}
