.header {
	--animation-speed: 500ms;

	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: var(--large);
	z-index: 2;
	transition: all var(--animation-speed) ease-in-out;
	animation: grow var(--animation-speed) ease-in-out both;
}

.scrolled_header {
	animation: shrink var(--animation-speed) ease-in-out var(--animation-speed) both;
}

.scrolled_header:hover {
	background: var(--light90);
}

.site_title {
	display: flex;
	flex-direction: column;
	gap: var(--tiny);
	line-height: 1;
}

.site_title:hover {
	color: var(--dark);
}

.site_caption {
	font-weight: var(--font-weight-secondary);
	overflow: hidden;
	animation: fadein var(--animation-speed) ease-in-out var(--animation-speed) both;
}

.hidden {
	animation: fadeout var(--animation-speed) ease-in-out both;
}

.header:hover .hidden {
	animation: fadein var(--animation-speed) ease-in-out var(--animation-speed) both;
}

@keyframes shrink {
	from {
		background: none;
		backdrop-filter: none;
		box-shadow: none;
		padding: var(--large) var(--large) 0 var(--large);
	}

	to {
		background: var(--light75);
		backdrop-filter: blur(30px);
		box-shadow: var(--shadow);
		padding: var(--medium);
	}
}

@keyframes grow {
	from {
		background: var(--light75);
		backdrop-filter: blur(30px);
		box-shadow: var(--shadow);
		padding: var(--medium);
	}

	to {
		background: none;
		backdrop-filter: none;
		box-shadow: none;
		padding: var(--large);
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
		max-height: 30px;
	}

	50% {
		opacity: 0;
		max-height: 30px;
	}

	to {
		opacity: 0;
		max-height: 0px;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		max-height: 0px;
	}

	50% {
		opacity: 0;
		max-height: 30px;
	}

	to {
		opacity: 1;
		max-height: 30px;
	}
}
