.sidebar_container {
	position: relative;

	display: flex;
	justify-content: flex-end;

	width: 30vw;
	min-width: 30vw;
	height: 100%;

	transition: all var(--transition-speed) ease-in-out;

	z-index: 1;
}

.hidden {
	width: var(--x3);
	min-width: var(--x3);
}

.sidebar {
	position: fixed;

	display: flex;
	flex-direction: column;

	width: 30vw;
	height: 100%;

	transition: all var(--transition-speed) ease-in-out;
}

.sidebar * {
	font-family: var(--sans-serif);
}
