.menu_container {
	position: fixed;
	top: var(--x4);
	right: var(--x4);

	display: flex;
	justify-content: flex-end;
	align-items: center;

	max-width: fit-content;

	z-index: 10;
}

.scrolled {
	right: var(--x3h);
}

.menu_accordian {
	display: flex;
	justify-content: flex-end;

	background: var(--gray-1);
	box-shadow: var(--shadow-m);
	border-radius: var(--radius);

	width: var(--x4);
	height: 100%;
	max-height: var(--x4);

	overflow: hidden;

	transition: all var(--transition-speed) ease-in-out;
}

.menu_accordian:hover {
	box-shadow: var(--shadow-l);
}

.scrolled .menu_accordian {
	box-shadow: var(--shadow-l);
}

.open {
	width: 100%;
	max-height: 250px;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: var(--d1h);

	width: 100%;
	height: 100%;
	min-height: fit-content;

	padding: var(--d1h);
}

.menu hr {
	border: var(--outline);

	width: var(--x2);

	margin-right: calc(16px - var(--x2) / 2);
}

.menu_button_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: var(--x1);

	width: 100%;
	height: 100%;
}

.menu button:not(.menu_icon) {
	justify-content: flex-end;

	width: 100%;
	min-width: fit-content;
}

.menu_icon {
	aspect-ratio: 1;
}

.menu_icon_icon {
	position: absolute;

	margin-right: 0 !important;

	animation: hide-icon var(--transition-speed-d2) ease-in-out both;
}

.icon_visible {
	animation: show-icon var(--transition-speed-d2) ease-in-out both;
}

@keyframes show-icon {
	from {
		transform: scaleY(0%);
	}

	50% {
		transform: scaleY(0%);
	}

	51% {
		transform: scaleY(5%);
	}

	to {
		transform: scaleY(100%);
	}
}

@keyframes hide-icon {
	from {
		transform: scaleY(100%);
	}

	50% {
		transform: scaleY(5%);
	}

	51% {
		transform: scaleY(0%);
	}

	to {
		transform: scaleY(0%);
	}
}
