.blog {
	position: relative;

	display: flex;
	flex-direction: column;

	background-color: white;
	border-radius: var(--radius);

	box-shadow: var(--shadow-s);

	width: 100%;

	padding: var(--x2);
	margin: -1.5px 0;

	transition: all var(--transition-speed) ease-in-out;
}

.blog:not(.active):hover {
	cursor: pointer;
	box-shadow: var(--shadow-m);
	transform: scale(1.02);
	transition-duration: var(--transition-speed-d2);
}

.blog * {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 1.5;
}

.row {
	display: grid;
	grid-template-columns: auto max-content;
	gap: 12px;

	overflow: visible;
}

.title {
	font-size: var(--f4);
	font-weight: 700;
}

.badge_container {
	overflow: visible;
}

.badge {
	--padding-x: var(--d3);
	--padding-y: calc(var(--padding-x) / 3);

	color: var(--gray-a10);
	font-size: var(--f2);
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 1.2;

	border: 1px solid var(--gray-a10);
	border-radius: var(--radius-s);

	padding: var(--padding-y) var(--padding-x);

	margin-top: var(--padding-y);
	margin-right: calc(-1 * var(--padding-y));
}

.published {
	border-color: transparent;
}

.published span {
	color: var(--gray-a8);
	margin: 0 var(--d8);
}

.deleted {
	color: var(--red-11);
	border-color: var(--red-11);
}

.caption {
	font-size: var(--f2);
	font-weight: 500;
}

.text {
	color: var(--gray-a10);
	font-size: var(--f2);
	font-weight: 400;
}

.active {
	--background-color: var(--accent-8);

	color: black;
	background-color: var(--background-color);
}

.active:hover {
	cursor: default;
	background-color: var(--background-color);
}

.active::after {
	display: none;
}
