.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--large);
}

.contact {
	position: relative;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: calc(var(--large) * 3);
}

.contact::after {
	content: '';

	position: absolute;
	left: 50%;

	background: var(--border-color);

	width: var(--border-width);
	height: 100%;
}

.portrait_image {
	border-radius: 100%;

	width: 300px;
	height: auto;
}

.contact_details_container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	--gap: var(--small);

	width: fit-content;
}

.contact_details {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: var(--tiny);
}

.contact_info {
	opacity: 1;
}

.contact_info::before,
.contact_info::after {
	width: 0%;
}

.contact_info:hover::before {
	width: 0%;
}

.contact_info:hover::after {
	left: 0;

	width: 100%;
}

.contact_details:first-of-type {
	justify-content: flex-end;
	padding-bottom: var(--gap);
}

.contact_details::before {
	content: '';

	/* background: var(--border-color); */
	height: var(--border-width);
	width: var(--gap);

	margin-bottom: var(--gap);
}

.contact_details:first-of-type:before {
	display: none;
}
