.post {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--small);
}

.post_section {
	display: flex;
	flex-direction: column;
	gap: var(--tiny);
}

.timestamp {
	font-size: 14px;
	font-weight: 300;
	opacity: 0.5;
}

.blog_gallery {
	display: flex;
	flex-wrap: wrap;
	gap: var(--small);
}

.blog_image_container {
	display: flex;
	min-width: 30%;
	flex: 1;
}

.blog_image {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.blog_buttons {
	position: absolute;
	top: var(--small);
	right: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: var(--tiny);
}

.draft_tag {
	margin-right: var(--small);
	letter-spacing: 1px;
	opacity: 0.5;
}

.delete_button path {
	fill: var(--red);
}

.delete_button:hover {
	background: var(--red);
}

.deleted::before {
	content: '';
	position: absolute;
	top: calc(-1 * var(--small));
	left: calc(-1 * var(--small));
	background: var(--dark10);
	border: 2px solid var(--dark10);
	border-radius: 5px;
	width: calc(100% + (var(--small) * 2));
	height: calc(100% + (var(--small) * 2));
	opacity: 0.66;
}

.deleted .post_section {
	opacity: 0.66;
}
