.layout {
	--gray: hsl(225, 11%, 80%);
	--lightgray: hsl(225, 11%, 90%);
	--lightergray: hsl(225, 11%, 97%);
}

.layout * {
	transition: all 0ms ease-in-out;
}

.layout button:hover {
	cursor: pointer;
}
