.page {
	width: 100vw;
	height: 100vh;

	padding-top: var(--scrolled-header-height);
}

.main {
	background-color: var(--lightergray);
	backdrop-filter: blur(12px);
	border-top: 1px solid var(--lightgray);

	width: 100%;
	height: 100%;
}
