.page {
	width: 100vw;
	height: 100vh;

	padding-top: var(--header-height);
}

.main {
	width: 100%;
	height: 100%;
}

.index {
	width: 25vw;
	height: 100%;

	outline: solid blue;
}

.editor {
	outline: solid red;
}
