.background {
	backdrop-filter: none;
}

.modal {
	border-radius: var(--radius-l);
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--x3);

	padding: var(--x4);
}

.login * {
	font-family: var(--sans-serif);
}

.login_banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button_block {
	display: flex;
	gap: var(--x1);
}
