.link,
.link:hover {
	opacity: 0.99;
}

.link::before,
.link::after {
	display: none;
}

.text_arrow {
	display: flex;
	gap: 3px;
}

.text_arrow_arrow {
	fill: var(--gradient-end);
	width: 16px;
	height: 16px;
	transition: fill var(--button-transition-speed) ease-in-out;
}

.text_arrow:hover .text_arrow_arrow {
	fill: var(--font-light);
	animation: crabwalk 1s ease-in-out calc(var(--button-transition-speed) - 100ms) infinite;
}

@keyframes crabwalk {
	from {
		transform: translateX(0px);
		color: var(--light);
	}

	50% {
		transform: translateX(3px);
		color: var(--light);
	}

	to {
		transform: translateX(0px);
		color: var(--light);
	}
}
