@import './variables/index.css';

body {
	background-color: var(--gray-3) !important;
	background-image: none !important;
}

.admin_layout {
	/* --header-height: 12vh; */
	--header-height: var(--x4);

	--sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--serif: var(--font-crimson);

	--shadow-s: 0px var(--d6) var(--x2) var(--gray-5);
	--shadow-m: 0px var(--d5) var(--x3) var(--gray-6);
	--shadow-l: 0px var(--d4) var(--x4) var(--gray-8);

	--outline: 0.5px solid var(--gray-a8);
	--border: 1px solid var(--gray-a7);

	--radius-s: var(--d2);
	--radius: var(--x1);
	--radius-l: var(--x2);
}

.admin_layout * {
	transition: all 0ms ease-in-out;
}

.admin_layout * button {
	cursor: pointer;
}
