.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--large);
	width: 100%;
	padding: 0 var(--giant) var(--giant);
}

.category {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.category_heading {
	position: sticky;
	top: calc(var(--medium) - 8px);
	text-transform: capitalize;
	transition: top 300ms ease-in-out;
	z-index: 10;
}

.category_work {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--huge);
	width: 100%;
	margin: var(--large) 0;
}
