.page {
	display: flex;
	flex-direction: column;
	gap: var(--huge);
	min-height: 100vh;
	padding: var(--header-height) var(--giant) var(--giant);
}

.category {
	display: flex;
	flex-wrap: wrap;
	gap: var(--large);
}

.category_heading {
	width: 100%;
	text-align: center;
}

.category_sub_heading {
	width: 100%;
	text-align: center;
}

.category_item {
	display: grid;
	grid-template-rows: auto 100px;
	gap: var(--small);
	max-width: 20%;
}

.category_item_image_container {
	display: flex;
	align-items: flex-end;
	height: 100%;
}

.category_item_image {
	width: 100%;
	height: auto;
}

/* 
*/
/* 
*/
/* archive */
.heading {
	text-transform: capitalize;
}

.category a {
	width: fit-content;
}

.work {
	display: flex;
}

.cover {
	min-width: 100px;
	max-width: 100px;
	height: auto;
	object-fit: contain;
	padding: 0 var(--medium) 0 0;
}

.details {
	padding: var(--tiny) 0;
}

.book_emoji {
	display: flex;
	font-size: 80px;
	width: 100px;
}
