.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--large);
	width: 100%;
	padding: var(--huge);
}

.category {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--large);
	width: 100%;
	min-height: calc(100vh - var(--header-height) - var(--large));
}

.category_heading {
	position: sticky;
	top: calc(var(--medium) - 8px);
	text-transform: capitalize;
	transition: top 300ms ease-in-out;
	z-index: 10;
}

.category_work {
	display: flex;
	justify-content: center;
	gap: var(--large);
	flex-wrap: wrap;
	width: 100%;
}

.work_container {
	display: flex;
	height: 50vh;
	width: auto;
	max-height: 100%;
}
