.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--huge);
	width: 100%;
	padding: 0 var(--large) var(--huge);
}

.category {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--medium);
	width: 100%;
}

.category_heading {
	position: sticky;
	top: calc(var(--medium) - 8px);
	text-transform: capitalize;
	transition: top 300ms ease-in-out;
	z-index: 10;
}

.category_work {
	display: flex;
	justify-content: center;
	gap: var(--medium);
	flex-wrap: wrap;
	width: 100%;
}

.work_container {
	display: flex;
	height: 50vh;
	width: auto;
	max-height: 100%;
}
