.component {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: flex-end;

	height: 100%;
}

.menu {
	position: sticky;
	top: calc(var(--header-height) + var(--medium));

	display: flex;
	justify-content: flex-end;
	gap: var(--small);

	font-size: var(--font-x-small);
	text-align: end;
	line-height: var(--line-height-tertiary);
	list-style-type: none;

	padding: 0;
}
