.page {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 100%;

	padding: 0 var(--giant);
	overflow: hidden;
}

.book {
	position: absolute;
	top: calc(-1 * var(--large));
	right: 0;

	width: 175vw;
	height: auto;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--large);

	text-align: justify;
	text-shadow: var(--text-shadow);

	padding: var(--huge);

	z-index: 1;
}

.content * {
	opacity: 0.9;
}

.bio {
	max-width: 60%;
	opacity: 0.9;
}

.portrait_frame {
	border: var(--border);
	border-radius: var(--tiny);
	border-color: var(--dark50);
	padding: var(--tiny);
	opacity: 1;
}

.portrait {
	width: 250px;
	height: auto;
	object-fit: contain;
	float: right;
	opacity: 0.95;
	border-radius: var(--tiny);
}
