.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--standard);

	font-size: var(--f2);
	font-weight: 500;

	border-radius: var(--d3);
	border: none;

	width: fit-content;
	height: 32px;

	padding: 0 var(--standard);

	transition: all 0ms ease-in-out;
	cursor: pointer;
}

.primary {
	color: var(--indigo-12);
	background-color: var(--indigo-a3);
}

.primary:hover {
	background-color: var(--indigo-a4);
}

.primary:active {
	background-color: var(--indigo-a5);
}

.secondary {
	color: var(--gray-11);
	background-color: var(--gray-a3);
}

.secondary:hover {
	color: var(--gray-12);
	background-color: var(--gray-a4);
}

.secondary:active {
	color: var(--gray-12);
	background-color: var(--gray-a5);
}

.ghost {
	color: var(--gray-11);
	background-color: transparent;
}

.ghost:hover {
	color: var(--gray-12);
	background-color: var(--gray-a3);
}

.ghost:active {
	color: var(--gray-12);
	background-color: var(--gray-a4);
}

.success {
	color: var(--green-12);
	background-color: var(--green-a3);
}

.success:hover {
	background-color: var(--green-a4);
}

.success:active {
	background-color: var(--green-a5);
}

.danger {
	color: var(--red-12);
	background-color: var(--red-a3);
}

.danger:hover {
	background-color: var(--red-a4);
}

.danger:active {
	background-color: var(--red-a5);
}
