.component {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--medium);
	height: 100%;
}

.image_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1%;
	flex-grow: 1;
	box-shadow: var(--shadow);
}

.image {
	width: auto;
	height: 100%;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.book_icon,
.book_icon::before {
	--size: 40vh;

	width: var(--size);
	height: var(--size);
	font-size: var(--size);
}
