.component {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--medium);
	box-shadow: var(--shadow);
	height: 100%;
}

.image,
.blank_image {
	width: auto;
	height: 100%;
}

.title {
	position: absolute;
	text-align: center;
	line-height: 1.5;
	width: 100%;
	padding: var(--medium);
}
