.tabs_section {
	width: 100%;
	max-width: 100%;

	display: flex;
	justify-content: center;

	margin-top: var(--x4);
	margin-bottom: calc(-1 * var(--x2));
}

.tabs_container {
	display: flex;

	background: var(--gray-1);
	border-radius: var(--radius);
	box-shadow: var(--shadow-m);

	width: 100%;
	height: var(--x4);

	margin-left: var(--x4);
	margin-right: var(--x3);

	overflow: hidden;

	transition: all var(--transition-speed) ease-in-out;

	z-index: 10;
}

.tabs_container:hover {
	box-shadow: var(--shadow-l);
}

.scrolled {
	left: var(--x3h);
	box-shadow: var(--shadow-l);
	width: calc(100% - var(--x6));
}

.hidden {
	transform: translateX(var(--x1h));

	transition: all var(--transition-speed-d2) ease-in-out;
}

.hidden:hover {
	transform: translateX(var(--x3));

	transition: all var(--transition-speed-d3) ease-in-out !important;
}

.tabs_content {
	position: relative;

	display: flex;
	align-items: center;

	width: calc(100% + var(--x3));
	min-width: calc(100% + var(--x3));
	max-width: fit-content;
	height: 100%;

	transition: all var(--transition-speed) ease-in-out;
}

.hidden .tabs_content {
	transform: translateX(calc(-1 * var(--x3)));
}

.tabs {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: var(--d2);

	width: calc(100% - var(--x6));
	height: 100%;

	overflow: hidden;

	transition: all var(--transition-speed) ease-in-out;

	padding: 0 var(--d2);
}

.hidden .tabs {
	transform: translateX(-100%);
}

.tab {
	position: relative;

	text-transform: capitalize;
}

.tab::after {
	content: '';
	position: absolute;
	bottom: 50%;
	transform: translateY(var(--x2));

	background-color: var(--accent-8);
	border-radius: var(--radius) var(--radius) 0 0;

	width: calc(100% + var(--d2));
	height: 0px;

	transition: all var(--transition-speed-d3) ease-in-out 0ms !important;
}

.active {
	color: var(--gray-12);
}

.active:hover {
	background-color: transparent;
}

.active::after {
	height: var(--d2h);

	transition: all var(--transition-speed-d3) ease-in-out var(--transition-speed-d3) !important;
}

.active:hover::after {
	width: calc(100% + var(--x1));

	transition-delay: 0ms;
}

/************************************************
show / hide buttons
************************************************/

.show_hide_button {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: var(--x2);
	min-width: var(--x2);
	max-width: var(--x2);

	padding: 0;
	margin: 0 var(--d2);

	transition: transform var(--transition-speed) ease-in-out var(--transition-speed);
}

.hide::after {
	content: '';
	pointer-events: none;

	position: absolute;
	left: var(--x2h);

	border: var(--outline);

	width: 0px;
	height: var(--x2);

	opacity: 0.5;
}

.chevron {
	min-width: 24px;

	margin: 0 !important;
}

.hide_button_text {
	position: absolute;
	left: var(--x4);

	transform: translateY(calc(-1 * var(--x4)));

	transition: all var(--transition-speed-d2) ease-in-out;
}

.hidden .hide_button_text {
	transform: translateY(0px);
}

.hide:hover ~ .hide_button_text {
	transform: translateY(0px);
	transition: all var(--transition-speed) ease-in-out;
}

.hide:hover ~ .tabs {
	transform: translateY(var(--x4));
	transition-duration: var(--transition-speed-d2);
}

.show_container {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	width: var(--x3);
	min-width: var(--x3);
	max-width: var(--x3);
}

.show {
	width: var(--d2);
	min-width: var(--d2);
	max-width: var(--x2);

	transition: min-width var(--transition-speed-d2) ease-in-out;
}

.hidden:hover .show {
	min-width: var(--x2);

	transition: min-width var(--transition-speed-d3) ease-in-out;
}
