/* variables */
:root {
	/* colors */
	--light: white;
	--light90: rgba(255, 255, 255, 0.9);
	--light75: rgba(255, 255, 255, 0.75);
	--light50: rgba(255, 255, 255, 0.5);
	--light25: rgba(255, 255, 255, 0.25);
	--light10: rgba(255, 255, 255, 0.1);

	--dark: black;
	--dark90: rgba(0, 0, 0, 0.9);
	--dark75: rgba(0, 0, 0, 0.75);
	--dark50: rgba(0, 0, 0, 0.5);
	--dark25: rgba(0, 0, 0, 0.25);
	--dark10: rgba(0, 0, 0, 0.1);

	--gray: gray;
	--lightgray: rgb(215, 215, 215);
	--darkgray: rgb(30, 30, 30);

	--accent: rgb(149, 64, 191);
	--accent90: rgba(149, 64, 191, 0.9);
	--accent75: rgba(149, 64, 191, 0.75);
	--accent50: rgba(149, 64, 191, 0.5);
	--accent25: rgba(149, 64, 191, 0.25);
	--accent10: rgba(149, 64, 191, 0.1);

	/* --gradient-start: dodgerblue;
	--gradient-end: mediumorchid; */
	--gradient-start: hsl(245, 50%, 50%);
	--gradient-end: hsl(275, 50%, 50%);
	--gradient: linear-gradient(30deg, var(--gradient-start), var(--gradient-end));

	/* alerts */
	--red: rgb(220, 0, 0);
	--green: rgb(0, 180, 0);

	/* overlay */
	--overlay: rgba(255, 255, 255, 0.98);

	/* sizes */
	--puny: 2px;
	--tiny: 4px;
	--small: 12px;
	--medium: 24px;
	--large: 48px;
	--huge: 96px;
	--giant: 240px;

	--header-height: 165px;
	--footer-height: 204px;
	--max-width: 1920px;

	/* fonts */
	--font-avenir: Avenir, Arial, Helvetica, sans-serif;

	--font-primary: var(--font-crimson);
	--font-secondary: var(--font-crimson);
	--font-tertiary: var(--font-crimson);

	--font-weight-primary: 400;
	--font-weight-secondary: 400;
	--font-weight-tertiary: 500;

	--line-height-primary: 1;
	--line-height-secondary: normal;
	--line-height-tertiary: 1;

	--font-opacity: 0.85;

	/* shadows */
	--shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

	--text-shadow-width: 1px;
	--text-shadow-color: var(--light);
	--text-shadow: var(--text-shadow-width) 0px 0px var(--text-shadow-color), var(--text-shadow-width) var(--text-shadow-width) 0px var(--text-shadow-color), 0px var(--text-shadow-width) 0px var(--text-shadow-color), calc(-1 * var(--text-shadow-width)) var(--text-shadow-width) 0px var(--text-shadow-color), calc(-1 * var(--text-shadow-width)) 0px 0px var(--text-shadow-color), calc(-1 * var(--text-shadow-width)) calc(-1 * var(--text-shadow-width)) 0px var(--text-shadow-color), 0px calc(-1 * var(--text-shadow-width)) 0px var(--text-shadow-color), var(--text-shadow-width) -1px 0px var(--text-shadow-color), 0px 0px 4px var(--text-shadow-color);

	/* borders */
	--border-width: 1px;
	--border-style: solid;
	--border-color: var(--dark);
	--border-radius: var(--tiny);

	--border: var(--border-width) var(--border-style) var(--border-color);

	/* icons */
	--icon-size: 20px;

	/* animations */
	--button-transition-speed: 300ms;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	background-color: var(--accent10);
	background: url('../public/assets/images/header-background-b.jpg');
	background-attachment: cover;
	background-size: 100vw 100vh;
	background-position: top;
}

html::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	z-index: -1;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	max-width: 100vw;
	font-size: 20px;
	font-family: var(--font-secondary);
	font-weight: var(--font-weight-secondary);
	line-height: var(--line-height-secondary);
	background: radial-gradient(ellipse at center, var(--overlay) 50%, var(--light50)), linear-gradient(var(--light50), 50vh, var(--overlay), 90vh, var(--light));
	white-space: pre-line;
	padding-top: var(--header-height);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--medium);
	width: 100%;
}

input,
textarea {
	border: 1px solid var(--dark25);
	border-radius: 5px;
	box-shadow: inset 0px 0px 2px var(--dark10);
	padding: var(--tiny) var(--small);
}

input[type='submit'] {
	border: none;
	border-radius: 5px;
	background: var(--gradient);
	color: var(--light);
	font-weight: 500;
	padding: var(--tiny) var(--small);
	opacity: 0.8;
}

input[type='submit']:hover {
	cursor: pointer;
	opacity: 1;
}

input[type='button'] {
	border: none;
	border-radius: 5px;
	background: var(--dark10);
	color: var(--dark);
	font-weight: 500;
	padding: var(--tiny) var(--small);
	opacity: 0.8;
}

input[type='button']:hover {
	cursor: pointer;
	opacity: 1;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
	font-size: 100%;
	font-family: inherit;
}

summary:hover {
	cursor: pointer;
}

ol,
ul {
	display: flex;
	flex-direction: column;
	gap: var(--tiny);
	padding: var(--small) 0 0 var(--medium);
}

ol p,
ul p {
	margin-top: var(--small);
}

ol p:first-of-type,
ul p:first-of-type {
	margin-top: 0;
}

table {
	display: flex;
	flex-direction: column;
}

th {
	text-align: start;
	margin: var(--medium) 0 0 0;
}

th:first-of-type {
	margin-top: 0;
}

td {
	position: relative;
}

td::before {
	content: '-';
	padding: 0 var(--tiny);
	margin: 0 var(--tiny);
}

a,
a:visited {
	color: inherit;
	text-decoration: none;

	width: fit-content;
	height: fit-content;

	border-bottom: var(--border);

	opacity: 0.5;
}

a:hover {
	/* background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent; */

	opacity: 0.75;
}

button {
	--background-angle: 135deg;
	--background-start: 0%;
	--background-end: 100%;
	--background-size: 225%;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(var(--background-angle), var(--light) 50%, var(--gradient-start) 50%, var(--gradient-end));
	background: var(--gradient);
	background-position: var(--background-start);
	background-size: var(--background-size);
	background-clip: text;
	-webkit-background-clip: text;
	border: none;
	color: transparent;
	border-radius: var(--border-radius);
	height: 32px;
	padding: var(--tiny) var(--small);
	margin: var(--border-width);
	transition: background-position var(--button-transition-speed) ease-in-out;
}

button::before {
	--button-border: calc(100% + (var(--border-width) * 2));
	/* --button-border: 100%; */

	content: '';
	position: absolute;
	background: linear-gradient(var(--background-angle), var(--gradient-start) 50%, var(--gradient-end));
	border-radius: calc(var(--border-radius) + 1px);
	width: var(--button-border);
	height: var(--button-border);
	z-index: -1;
}

button::after {
	content: '';
	position: absolute;
	background: linear-gradient(var(--background-angle), transparent 50%, var(--light) 50%);
	background-position: var(--background-start);
	background-size: var(--background-size);
	border-radius: var(--border-radius);
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: background-position var(--button-transition-speed) ease-in-out;
}

button:hover {
	cursor: pointer;
	background-position: var(--background-end);
}

button:hover::after {
	background-position: var(--background-end);
}

.button_block {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--tiny);
}

h1 {
	font-size: 3.2rem;
	font-family: var(--font-primary);
	font-weight: var(--font-weight-primary);
	line-height: var(--line-height-primary);
	opacity: var(--font-opacity);
}

h2 {
	font-size: 2.4rem;
	font-family: var(--font-primary);
	font-weight: var(--font-weight-primary);
	line-height: var(--line-height-primary);
	opacity: var(--font-opacity);
}

h3 {
	font-size: 1.8rem;
	font-family: var(--font-primary);
	font-weight: var(--font-weight-primary);
	line-height: var(--line-height-primary);
	opacity: var(--font-opacity);
}

h4 {
	font-size: 1.5rem;
	font-family: var(--font-secondary);
	font-weight: var(--font-weight-secondary);
	line-height: var(--line-height-secondary);
	opacity: var(--font-opacity);
}

h5 {
	font-size: 1.2rem;
	font-family: var(--font-tertiary);
	font-weight: var(--font-weight-tertiary);
	line-height: var(--line-height-tertiary);
	opacity: var(--font-opacity);
}

p {
	opacity: var(--font-opacity);
}

i,
i::before {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--icon-size);
	height: var(--icon-size);
	font-size: var(--icon-size);
}

@media screen and (max-width: 768px) {
	* {
		font-size: 90%;
	}

	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}
}
