/* variables */
:root {
	/* colors */
	--light: white;
	--light90: rgba(255, 255, 255, 0.9);
	--light75: rgba(255, 255, 255, 0.75);
	--light50: rgba(255, 255, 255, 0.5);
	--light25: rgba(255, 255, 255, 0.25);
	--light10: rgba(255, 255, 255, 0.1);

	--dark: black;
	--dark90: rgba(0, 0, 0, 0.9);
	--dark75: rgba(0, 0, 0, 0.75);
	--dark50: rgba(0, 0, 0, 0.5);
	--dark25: rgba(0, 0, 0, 0.25);
	--dark10: rgba(0, 0, 0, 0.1);

	--gray: gray;
	--lightgray: rgb(215, 215, 215);
	--darkgray: rgb(30, 30, 30);

	--accent: rgb(149, 64, 191);
	--accent90: rgba(149, 64, 191, 0.9);
	--accent75: rgba(149, 64, 191, 0.75);
	--accent50: rgba(149, 64, 191, 0.5);
	--accent25: rgba(149, 64, 191, 0.25);
	--accent10: rgba(149, 64, 191, 0.1);

	--gradient-start: hsl(245, 50%, 50%);
	--gradient-end: hsl(275, 50%, 50%);
	--gradient: linear-gradient(30deg, var(--gradient-start), var(--gradient-end));

	/* alerts */
	--red: rgb(220, 0, 0);
	--green: rgb(0, 180, 0);

	/* overlay */
	--overlay: rgba(255, 255, 255, 0.98);

	/* sizes */
	--base-size: 12px;

	--puny: calc(var(--base-size) / 6);
	--tiny: calc(var(--base-size) / 3);
	--small: var(--base-size);
	--medium: calc(var(--base-size) * 2);
	--large: calc(var(--base-size) * 4);
	--huge: calc(var(--base-size) * 8);
	--giant: calc(var(--base-size) * 16);

	--header-height: 152px;
	--header-caption-height: 18px;
	--scrolled-header-height: calc(var(--header-height) - var(--header-caption-height) - var(--large));

	--footer-height: 223px;
	--max-width: 1920px;

	/* fonts */
	--font-avenir: Avenir, Arial, Helvetica, sans-serif;

	--font-primary: var(--font-crimson);
	--font-secondary: var(--font-crimson);
	--font-tertiary: var(--font-crimson);

	--font-x-small: 16px;
	--font-small: 20px;
	--font-medium: 24px;
	--font-large: 32px;
	--font-x-large: 48px;

	--font-weight-regular: 400;
	--font-weight-bold: 600;
	--font-weight-bolder: 700;

	--line-height-primary: 1.2;
	--line-height-secondary: 1.5;
	--line-height-tertiary: 1;

	--font-dark: var(--dark90);
	--font-light: var(--light90);

	--link-dark: var(--dark50);
	--link-light: var(--light50);

	/* shadows */
	--shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

	--text-shadow-width: 1px;
	--text-shadow-color: var(--light);
	--text-shadow: var(--text-shadow-width) 0px 0px var(--text-shadow-color), var(--text-shadow-width) var(--text-shadow-width) 0px var(--text-shadow-color), 0px var(--text-shadow-width) 0px var(--text-shadow-color), calc(-1 * var(--text-shadow-width)) var(--text-shadow-width) 0px var(--text-shadow-color), calc(-1 * var(--text-shadow-width)) 0px 0px var(--text-shadow-color), calc(-1 * var(--text-shadow-width)) calc(-1 * var(--text-shadow-width)) 0px var(--text-shadow-color), 0px calc(-1 * var(--text-shadow-width)) 0px var(--text-shadow-color), var(--text-shadow-width) -1px 0px var(--text-shadow-color), 0px 0px 4px var(--text-shadow-color);

	/* borders */
	--border-width: 1.5px;
	--border-style: solid;
	--border-color: var(--dark50);
	--border-radius: var(--tiny);

	--border: calc(var(--border-width) / 10) var(--border-style) var(--border-color);

	/* icons */
	--icon-size: 20px;

	/* animations */
	--button-transition-speed: 300ms;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: var(--font-weight-regular);
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-color: var(--light);
	background-image: linear-gradient(var(--light50), var(--light) 50%), url('/assets/images/header-background-b.jpg');
	background-position: top;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;

	font-size: var(--font-small);
	font-family: var(--font-secondary);
	line-height: var(--line-height-secondary);
	white-space: pre-line;
	color: var(--font-dark);

	min-height: 100vh;
	max-width: 100vw;
}

main {
	flex-grow: 1;

	backdrop-filter: blur(var(--medium));
	-webkit-backdrop-filter: blur(var(--medium));

	padding-top: var(--header-height);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--medium);
	width: 100%;
}

input,
textarea {
	border: 1px solid var(--dark25);
	border-radius: 5px;
	box-shadow: inset 0px 0px 2px var(--dark10);
	padding: var(--tiny) var(--small);
}

input[type='submit'] {
	border: none;
	border-radius: 5px;
	background: var(--gradient);
	color: var(--light);
	font-weight: 500;
	padding: var(--tiny) var(--small);
	opacity: 0.8;
}

input[type='submit']:hover {
	cursor: pointer;
	opacity: 1;
}

input[type='button'] {
	border: none;
	border-radius: 5px;
	background: var(--dark10);
	color: var(--dark);
	font-weight: 500;
	padding: var(--tiny) var(--small);
	opacity: 0.8;
}

input[type='button']:hover {
	cursor: pointer;
	opacity: 1;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
	font-size: 100%;
	font-family: inherit;
}

summary:hover {
	cursor: pointer;
}

ol,
ul {
	display: flex;
	flex-direction: column;
	padding: 0 var(--medium);
}

hr {
	border: none;
	border-bottom: var(--border-width) var(--border-style) var(--dark50);

	width: var(--medium);
}

a,
a:visited {
	--a-transition-speed: 150ms;

	position: relative;

	color: var(--link-dark);
	text-decoration: none;

	width: fit-content;
	height: fit-content;

	padding: 0;

	transition: all var(--a-transition-speed) ease-in-out;
}

a:hover {
	color: var(--font-dark);
}

a:not(.hidden_link)::before,
a:not(.hidden_link)::after {
	--a-decor-transition-speed: calc(var(--a-transition-speed) * 2);

	content: '';

	position: absolute;
	bottom: 0;

	height: var(--border-width);
}

a::before {
	right: 0;
	background: var(--font-dark);
	width: 0%;
	transition: all var(--a-decor-transition-speed) ease-in-out;
}

a::after {
	left: 0;
	background: var(--link-dark);
	width: 100%;
	transition: all calc(var(--a-decor-transition-speed) * 1.5) ease-in;
}

a:hover::before {
	left: 0;
	width: 100%;
	transition: all calc(var(--a-decor-transition-speed) * 1.5) ease-in;
}

a:hover::after {
	left: auto;
	right: 0;
	width: 0%;
	transition: all var(--a-decor-transition-speed) ease-in-out;
}

button {
	--background-angle: 135deg;
	--background-start: 0%;
	--background-end: 100%;
	--background-size: 250%;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	background-image: linear-gradient(var(--background-angle), var(--gradient-start), var(--gradient-end) 50%, var(--light) 50%);
	background-position: var(--background-start);
	background-size: var(--background-size);
	background-clip: text;
	-webkit-background-clip: text;

	border: none;
	border-radius: var(--border-radius);

	color: transparent;
	font-size: var(--font-x-small);
	font-weight: var(--font-weight-bold);

	padding: calc(var(--tiny) * 2) calc(var(--tiny) * 5);
	margin: var(--border-width);

	transition: background-position var(--button-transition-speed) ease-in-out;
}

button::before {
	content: '';

	position: absolute;
	z-index: -1;

	background-image: linear-gradient(var(--background-angle), var(--gradient-start) 50%, var(--gradient-end));
	border-radius: calc(var(--border-radius) + 1px);

	mask-clip: content-box, border-box;
	mask-image: linear-gradient(transparent, transparent), linear-gradient(white, white);
	mask-composite: intersect;

	padding: var(--border-width);

	width: 100%;
	height: 100%;
}

button::after {
	content: '';

	position: absolute;
	z-index: -1;

	background-image: linear-gradient(var(--background-angle), transparent 50%, var(--gradient-start) 50%, var(--gradient-end));
	background-position: var(--background-start);
	background-size: var(--background-size);
	border-radius: var(--border-radius);

	width: 100%;
	height: 100%;

	transition: background-position var(--button-transition-speed) ease-in-out;
}

button:hover {
	cursor: pointer;
	background-position: var(--background-end);
}

button:hover::after {
	background-position: var(--background-end);
}

.button_block {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--tiny);
}

h1 {
	font-size: var(--font-x-large);
	font-family: var(--font-primary);

	line-height: var(--line-height-primary);
}

h2 {
	font-size: var(--font-large);
	font-family: var(--font-primary);

	line-height: var(--line-height-primary);
}

h3 {
	font-size: var(--font-medium);
	font-family: var(--font-primary);

	line-height: var(--line-height-primary);
}

h4 {
	font-size: var(--font-small);
	font-family: var(--font-primary);
	line-height: var(--line-height-tertiary);
}

h5 {
	font-size: var(--font-x-small);
	font-family: var(--font-tertiary);
	line-height: var(--line-height-tertiary);
}

p {
	font-size: var(--font-small);
}

i,
i::before {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--icon-size);
	height: var(--icon-size);
	font-size: var(--icon-size);
}

@media screen and (max-width: 768px) {
	* {
		font-size: 90%;
	}

	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}
}
