/* variables */
:root {
	/* colors */
	--light: white;
	--light90: rgba(255, 255, 255, 0.9);
	--light75: rgba(255, 255, 255, 0.75);
	--light50: rgba(255, 255, 255, 0.5);
	--light25: rgba(255, 255, 255, 0.25);
	--light10: rgba(255, 255, 255, 0.1);

	--dark: black;
	--dark90: rgba(0, 0, 0, 0.9);
	--dark75: rgba(0, 0, 0, 0.75);
	--dark50: rgba(0, 0, 0, 0.5);
	--dark25: rgba(0, 0, 0, 0.25);
	--dark10: rgba(0, 0, 0, 0.1);

	--gray: gray;
	--lightgray: rgb(215, 215, 215);
	--darkgray: rgb(30, 30, 30);

	--accent: rgba(56, 17, 76);
	--accent90: rgba(56, 17, 76, 0.9);
	--accent75: rgba(56, 17, 76, 0.75);
	--accent50: rgba(56, 17, 76, 0.5);
	--accent25: rgba(56, 17, 76, 0.25);
	--accent10: rgba(56, 17, 76, 0.1);

	--gradient: linear-gradient(30deg, dodgerblue, mediumorchid);

	/* alerts */
	--red: rgb(220, 0, 0);
	--green: rgb(0, 180, 0);

	/* overlay */
	--overlay: rgba(255, 255, 255, 0.98);

	/* box shadow */
	--shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);

	/* sizes */
	--tiny: 5px;
	--small: 15px;
	--medium: 30px;
	--large: 60px;
	--huge: 90px;
	--giant: 150px;

	/* fonts */
	--font-avenir: Avenir, Arial, Helvetica, sans-serif;

	--font-primary: var(--font-avenir);
	--font-secondary: var(--font-caslon);

	--font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	background-color: var(--accent10);
	background: url('../public/assets/images/header-background-b.jpg');
	background-attachment: cover;
	background-size: 100%;
	background-position: bottom;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	max-width: 100vw;
	font-family: var(--font-primary);
	font-weight: 400;
	line-height: 1.25;
	background: radial-gradient(ellipse at center, var(--overlay) 50%, var(--light50)), linear-gradient(transparent, 50vh, var(--overlay));
	backdrop-filter: blur(10px);
	white-space: pre-line;
}

main {
	display: flex;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	max-width: 1024px;
	padding-bottom: var(--giant);
	flex: 1;
}

section {
	display: flex;
	flex-direction: column;
	gap: var(--huge);
	flex-grow: 1;
}

article {
	display: flex;
	flex-direction: column;
	gap: var(--tiny);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--medium);
	width: 100%;
}

input,
textarea {
	border: 1px solid var(--dark25);
	border-radius: 5px;
	box-shadow: inset 0px 0px 2px var(--dark10);
	padding: var(--tiny) var(--small);
}

input[type='submit'] {
	border: none;
	border-radius: 5px;
	background: var(--gradient);
	color: var(--light);
	font-weight: 500;
	padding: var(--tiny) var(--small);
	opacity: 0.8;
}

input[type='submit']:hover {
	cursor: pointer;
	opacity: 1;
}

input[type='button'] {
	border: none;
	border-radius: 5px;
	background: var(--dark10);
	color: var(--dark);
	font-weight: 500;
	padding: var(--tiny) var(--small);
	opacity: 0.8;
}

input[type='button']:hover {
	cursor: pointer;
	opacity: 1;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
	font-size: 100%;
	font-family: inherit;
}

summary:hover {
	cursor: pointer;
}

ol,
ul {
	display: flex;
	flex-direction: column;
	gap: var(--tiny);
	padding: var(--small) 0 0 var(--medium);
}

ol p,
ul p {
	margin-top: var(--small);
	/* text-decoration: underline; */
}

ol p:first-of-type,
ul p:first-of-type {
	margin-top: 0;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--accent50);
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: var(--tiny) var(--small);
	background: none;
	border: 1px solid var(--dark50);
	border-radius: 5px;
	color: inherit;
	height: 32px;
}

button:hover {
	cursor: pointer;
	background: var(--gradient);
	border: 1px solid var(--light);
	color: var(--light);
}

.button_block {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--tiny);
}

path {
	fill: var(--dark);
}

button:hover path {
	fill: var(--light);
}

h1 {
	font-size: 2.2em;
	font-weight: var(--font-weight);
	font-family: var(--font-secondary);
}

h2 {
	font-size: 1.6em;
	font-weight: var(--font-weight);
	font-family: var(--font-secondary);
}

h3 {
	font-size: 1.3em;
	font-weight: 400;
	font-weight: var(--font-weight);
	font-family: var(--font-secondary);
}

h4 {
	font-size: 1.2em;
	font-weight: 400;
}

@media screen and (max-width: 768px) {
	* {
		font-size: 90%;
	}

	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}
}
