/* variables */
:root {
	/* colors */
	--light: white;
	--light90: rgba(255, 255, 255, 0.9);
	--light75: rgba(255, 255, 255, 0.75);
	--light50: rgba(255, 255, 255, 0.5);
	--light25: rgba(255, 255, 255, 0.25);
	--light10: rgba(255, 255, 255, 0.1);

	--dark: black;
	--dark90: rgba(0, 0, 0, 0.9);
	--dark75: rgba(0, 0, 0, 0.75);
	--dark50: rgba(0, 0, 0, 0.5);
	--dark25: rgba(0, 0, 0, 0.25);
	--dark10: rgba(0, 0, 0, 0.1);

	--gray: gray;
	--lightgray: rgb(215, 215, 215);
	--darkgray: rgb(30, 30, 30);

	--accent: #2196f3;
	--accent90: ;
	--accent75: ;
	--accent50: ;
	--accent25: ;
	--accent10: ;

	--red: rgb(220, 0, 0);
	--green: rgb(0, 180, 0);

	/* box shadow */
	--shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);

	/* sizes */
	--tiny: 4px;
	--small: 12px;
	--medium: 24px;
	--large: 48px;
	--huge: 96px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-height: 100%;
	max-width: 100vw;
	overflow: hidden;
	font-family: Avenir, Arial, Helvetica, sans-serif;
	line-height: 1.25;
	scroll-behavior: smooth;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
	font-size: 100%;
	font-family: inherit;
}

ol,
ul {
	list-style: none;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

@media screen and (max-width: 768px) {
	* {
		font-size: 90%;
	}

	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}
}
