.page {
	--gap: var(--huge);
	--intro-height: calc(100vh - var(--header-height) - var(--gap) - var(--header-height));
	--portrait-position: calc(var(--header-height) + var(--intro-height) + var(--gap));
}

.page * {
	max-width: 1100px;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--large);

	height: var(--intro-height);

	padding: var(--header-height) 0;
}

.intro_caption {
	font-style: italic;
	line-height: var(--line-height-secondary);
}

.portrait {
	display: grid;
	grid-template-columns: auto max-content;
	gap: var(--large);

	width: 100%;
}

.portrait_image {
	width: 100%;
	height: auto;
}

.portrait_detail {
	position: sticky;
	top: var(--portrait-position);

	display: flex;
	flex-direction: column;

	width: 240px;
	height: fit-content;

	padding: var(--large) 0;
}

.break {
	padding: var(--huge) 0;
}

.pillars {
	display: flex;
	flex-direction: column;
	gap: var(--huge);
}
