.page {
	--gap: var(--huge);
	--vertical-padding: var(--large);
	--gutter-width: 30vh;
	--intro-height: 50vh;
	--portrait-position: calc(var(--header-height) + var(--intro-height) + var(--gap) + var(--vertical-padding));

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap);

	padding: var(--vertical-padding) var(--gutter-width) 0;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--large);

	height: var(--intro-height);

	padding-bottom: var(--large);
}

.intro_caption {
	font-style: italic;
}

.portrait {
	display: grid;
	grid-template-columns: auto max-content;
	gap: var(--large);
}

.portrait_image {
	width: 100%;
	height: auto;
}

.portrait_detail {
	position: sticky;
	top: var(--portrait-position);

	display: flex;
	flex-direction: column;

	width: 240px;
	height: fit-content;

	padding: var(--large) 0;
}

.break {
	padding: var(--huge) 0;
}

.pillars {
	display: flex;
	flex-direction: column;
	gap: calc(var(--large) * 3);
}
