.component {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'left right';

	gap: var(--huge);
	max-width: none;
	min-height: 0;
	height: calc(100vh - var(--header-height));
	padding: 0 var(--giant) var(--huge);
	margin-bottom: var(--giant);
}

.left {
	grid-area: left;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.right {
	grid-area: right;

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--medium);
	margin-bottom: var(--header-height);
	z-index: 1;
}

.book {
	--size: 84vw;

	position: absolute;
	transform: translateX(28vw);
	object-fit: contain;
	width: var(--size);
	height: var(--size);
}

.text_block {
	display: flex;
	flex-direction: column;
	gap: var(--tiny);
}

.text_block:hover {
	background: revert;
	background-clip: revert;
	-webkit-background-clip: revert;
	color: inherit;
}

@keyframes swing {
	from {
		transform: matrix3d(0.0001, 0, 0, 0.0000001, 0, 0.9, 0, 0, 0, 0, 1, 0, -370, 0, 0, 1);
	}

	to {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}
