.nav {
	display: flex;
	gap: var(--medium);
}

.dropdown {
	position: relative;
	display: flex;
	flex-direction: column;
}

.dropdown_title:hover {
	cursor: pointer;
}

.dropdown_content {
	position: absolute;
	display: flex;
	flex-direction: column;
	background: var(--light75);
	backdrop-filter: blur(5px);
	box-shadow: 0px 0px 30px var(--light75);
	top: var(--medium);
	left: calc(-1 * var(--medium));
	max-height: 0px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.dropdown_content:hover,
.dropdown:hover .dropdown_content {
	max-height: 200px;
}

.subnav {
	display: flex;
	flex-direction: column;
	gap: var(--tiny);
	padding: var(--small) var(--medium);
}
