.nav {
	display: flex;
	flex-direction: column;
	gap: var(--small);
	text-align: end;
}

.dropdown {
	position: relative;
	display: flex;
	flex-direction: column;
}

.dropdown_title:hover {
	cursor: pointer;
}

.dropdown_content {
	display: flex;
	flex-direction: column;
	max-height: 0px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.dropdown_content:hover,
.dropdown:hover .dropdown_content {
	max-height: 200px;
}

.subnav {
	display: flex;
	flex-direction: column;
	padding: var(--tiny);
}
