.page {
	display: flex;
	gap: var(--large);
	width: 100%;
	height: 100%;
	min-height: calc(100vh - var(--header-height));
	padding: var(--large);
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: top;
	width: 100vw;
	height: 100vh;
	z-index: -11;
}

.cover {
	object-fit: contain;
	width: 25vw;
	height: auto;
	box-shadow: var(--shadow);
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--medium);
}

.content_row {
	display: flex;
	flex-direction: column;
}

.date {
	font-weight: 700;
}

.table {
	margin-top: var(--medium);
}

.table_bold {
	font-weight: 700;
	color: transparent;
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
}
