.footer {
	--background-color: hsl(0, 0%, 10%);

	--gradient-start: hsl(245, 100%, 66%);
	--gradient-end: hsl(275, 100%, 66%);
	--gradient: linear-gradient(30deg, var(--gradient-start), var(--gradient-end));

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--huge);

	background: var(--background-color);
	box-shadow: inset 0px 20px 20px -20px var(--dark50);

	color: var(--font-light);

	width: 100vw;

	padding: var(--huge);
	margin-top: var(--giant);
}

.footer button {
	background-color: var(--light50);
	background-image: none;
	transition: all var(--button-transition-speed) ease-in-out;
}

.footer button:hover {
	background-color: var(--light);
}

.footer button::after {
	background-image: linear-gradient(var(--background-angle), var(--background-color) 50%, transparent 50%);
}

.footer button::before {
	filter: grayscale(100%);
	transition: all var(--button-transition-speed) ease-in-out;
}

.footer button:hover::before {
	filter: grayscale(0%);
}

.footer a {
	color: var(--link-light) !important;
	opacity: 0.99;
}

.footer a:hover {
	color: var(--font-light) !important;
	opacity: 0.99;
}

.footer a:after {
	background-image: var(--font-light) !important;
}

.footer a::before,
.footer a::after {
	--a-decor-transition-speed: var(--a-transition-speed);

	left: auto;
	right: 0;
	width: 0%;
}

.footer a:hover::before {
	width: 0%;
}

.footer a:hover::after {
	left: 0;

	width: 100%;
}

.footer_logo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer_caption_container {
	display: flex;
	gap: var(--small);
}

.footer_caption {
	padding-top: calc(var(--tiny) * 2);
}

.footer_content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	gap: var(--small);
}

.column hr {
	border-bottom: var(--border-width) var(--border-style) var(--light50);
}

.column_content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: var(--medium);

	height: 100%;

	padding: 0;
}

.column_content_section {
	display: flex;
	flex-direction: column;

	list-style-type: none;
	padding: 0;
}

.column_content_section p {
	color: var(--link-light);
}

.section_row {
	display: flex;
}

.user_nav {
	display: flex;
	flex-direction: column;
}
