.image_container {
	display: flex;
	flex-wrap: wrap;

	align-items: center;
	gap: var(--x1);

	width: 100%;

	padding: var(--x2) var(--x1h);
}

.image {
	border-radius: var(--radius);
	box-shadow: var(--shadow-s);

	width: auto;
	height: 120px;
}

.add_image_button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--x1);

	background: transparent;
	border: 2px dashed var(--gray-8);
	border-radius: var(--radius);

	color: var(--gray-8);
	font-weight: 500;

	width: auto;
	height: 120px;
	aspect-ratio: 1;
}

.add_image_button:hover {
	background: var(--gray-2);
}

.add_image_button:active {
	box-shadow: none;
}
