.component {
}

.component:hover {
	color: inherit;
}

.work {
}

.title {
	--border-width: 1px;
	--border-color: var(--light);

	position: absolute;
	display: flex;
	justify-content: center;
	line-height: 1.5;
	text-shadow: var(--border-width) 0px 0px var(--border-color), var(--border-width) var(--border-width) 0px var(--border-color), 0px var(--border-width) 0px var(--border-color), calc(-1 * var(--border-width)) var(--border-width) 0px var(--border-color), calc(-1 * var(--border-width)) 0px 0px var(--border-color), calc(-1 * var(--border-width)) calc(-1 * var(--border-width)) 0px var(--border-color), 0px calc(-1 * var(--border-width)) 0px var(--border-color), var(--border-width) -1px 0px var(--border-color), 0px 0px 4px var(--border-color);
	opacity: 0.9;
}

.title_cover {
	top: -14%;
	left: 36%;
	text-align: center;
	width: 29.5%;
	height: 100%;
	padding: 0 var(--large);
	border: 1px solid red;

	/* prettier-ignore */
	transform: matrix3d(
        /* scaleX, skewY, NA, perspectiveX */
        1, -0.422, 0, 0.0001,
        /* skewX, scaleY, NA, perspectiveY */
        1.05, 0.204, 0, 0,
        /* NA, NA, NA, NA */
        0, 0, 1, 0,
        /* translateX, translateY, NA, translateZ */
        0, 0, 0, 1
    );
}

.title_spine {
	top: 58%;
	align-items: center;
	width: 66.5%;
	height: 21%;
	padding: 0 var(--medium);
	border: 1px solid red;

	/* prettier-ignore */
	transform: matrix3d(
        /* scaleX, skewY, NA, perspectiveX */
        1, 0.204, 0, -0.00005,
        /* skewX, scaleY, NA, perspectiveY */
        0.0001, 1, 0, 0.00002,
        /* NA, NA, NA, NA */
        0, 0, 1, 0,
        /* translateX, translateY, NA, translateZ */
        0, 0, 0, 1
    );
}
