.component {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 60%;
	min-height: 100vh;
}

.component:hover {
	color: inherit;
}

.work_container:nth-of-type(even) {
	transform: translateX(1%);
}

.work_container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 8%;
	transition: all 0.3s ease-in-out;
}

.work_container:hover {
	height: 24%;
	margin-bottom: 4%;
	transform: translate(-4%, 0%);
}

.work {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.work:hover {
	color: inherit;
}

/* .work:first-of-type {
	height: 40vh;
} */

.svg {
	width: 100%;
	height: auto;
	z-index: 100;
}

.title {
	font-family: var(--font-primary);
	text-align: center;
	text-shadow: var(--text-shadow);
	transform: matrix3d(var(--scale-x), var(--skew-y), 0, var(--perspective-x), var(--skew-x), var(--scale-y), 0, var(--perspective-y), 0, 0, 1, 0, var(--translate-x), var(--translate-y), 0, var(--translate-z));
	opacity: 0.9;
	z-index: 100;
}

.title_cover_text {
	display: flex;
	flex-direction: column;
	gap: var(--huge);
}

.title_cover_text * {
	line-height: 1.5;
}

.title_spine_text {
	display: flex;
	flex-direction: column;
	gap: var(--small);
}

.title_cover {
	--scale-x: 1;
	--scale-y: 0.204;
	--skew-x: 1.05;
	--skew-y: -0.422;
	--perspective-x: 0.0001;
	--perspective-y: 0;
	--translate-x: 0;
	--translate-y: 0;
	--translate-z: 1;
}

.title_spine {
	--scale-x: 1;
	--scale-y: 1;
	--skew-x: 0.0001;
	--skew-y: 0.204;
	--perspective-x: -0.00005;
	--perspective-y: 0.00002;
	--translate-x: 0;
	--translate-y: 0;
	--translate-z: 1;
}
