@import './variables/index.css';

.admin_layout {
	/* --header-height: 12vh; */
	--header-height: var(--x4);

	--sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto, 'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

	--shadow-s: 0px var(--d6) var(--x2) var(--gray-a2);
	--shadow-m: 0px var(--d6) var(--x3) var(--gray-a3);
	--shadow-l: 0px var(--d6) var(--x4) var(--gray-a4);

	--outline: 0.5px solid var(--gray-a8);
	--border: 1px solid var(--gray-a7);
	--radius: var(--x1);
}

.admin_layout * {
	transition: all 0ms ease-in-out;
}

.admin_layout * button {
	cursor: pointer;
}
