.page {
	display: grid;
	grid-template-columns: auto max-content;
	align-items: start;
	gap: var(--huge);

	background-image: linear-gradient(var(--light75), var(--light) calc(var(--header-height) * 2)), url('/assets/images/background-book.jpg');
	background-size: 100vw;
	background-repeat: no-repeat;

	width: 100%;

	padding-top: calc(var(--header-height) + var(--medium));
}

.work {
	display: flex;
	flex-direction: column;
	gap: var(--huge);
}

.category {
	display: flex;
	flex-direction: column;
	gap: var(--huge);

	width: 100%;
}
