.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0;

	font-family: var(--sans-serif);
	font-size: var(--f4);
	font-weight: 600;
	line-height: 0.8;

	width: 100%;
}

.form label {
	font-size: var(--f2);
	line-height: 2;
}

.form input {
	font-size: var(--f4);
	width: 100%;
	margin-bottom: var(--x2);
}

.form input:last-of-type {
	margin-bottom: 0;
}

.form input::placeholder {
	color: var(--gray-6);
}
