.nav {
	display: flex;
	gap: var(--medium);
	height: fit-content;
}

.nav_link {
	text-transform: capitalize;
}

.nav_link:not(.active)::before,
.nav_link:not(.active)::after {
	--a-decor-transition-speed: var(--a-transition-speed);
	left: auto;
	right: 0;
	width: 0%;
}

.nav_link:not(.active):hover::before {
	width: 0%;
}

.nav_link:not(.active):hover::after {
	left: 0;

	width: 100%;
}

.active:hover::before {
	width: 0%;
}

.active:hover::after {
	width: 100%;
}
