.background {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--black-a2);
	backdrop-filter: blur(var(--x1));

	width: 100vw;
	height: 100vh;
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--x3);

	background: var(--gray-1);
	border-radius: var(--radius);
	box-shadow: var(--shadow-l);

	padding: var(--x2);
}

.modal h1 {
	font-size: var(--f6);
	font-weight: 600;
}
