.background {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--black-a4);
	backdrop-filter: blur(var(--x1h));

	width: 100vw;
	height: 100vh;

	animation: fade-in var(--transition-speed-d2) ease-in-out both;

	z-index: 100;
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--x1h);

	background: var(--gray-3);
	border-radius: var(--radius);
	box-shadow: 0 var(--d4) var(--x4) var(--black-a6);

	padding: var(--x2);

	max-width: 500px;

	animation: slide-up var(--transition-speed-d2) ease-in-out var(--transition-speed-d3) both;
}

.hidden {
	display: none;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slide-up {
	from {
		opacity: 0;
		transform: translateY(5vh);
	}

	to {
		opacity: 1;
		transform: translateY(0vh);
	}
}
