.blogs {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--x1);

	height: 100%;

	padding: var(--x4) var(--x3) var(--x4) var(--x4);

	overflow-y: scroll;

	/* hide scroll bars */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* hide scroll bars */
.blogs::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
