.section {
	display: flex;
	flex-direction: column;

	border-right: 1px solid var(--gray);

	width: 25vw;
	height: 100%;
}

.tabs {
	background-color: var(--lightergray);

	width: 100%;

	padding-top: 24px;
}

.tabs_list {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 24px;
}

.tabs_list button {
	height: 100%;
}

.tabs_list button:hover {
	cursor: pointer;
}

.content {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;

	padding: 12px;

	overflow: scroll;
}
