.tabs_container {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	max-width: 100%;
	min-height: var(--x4);
	max-height: var(--x4);

	margin-top: var(--x4);
	margin-bottom: calc(-1 * var(--x2));
}

.tabs {
	position: absolute;
	bottom: 0;
	left: var(--x4);

	display: flex;
	justify-content: space-between;
	align-items: center;

	background: var(--gray-1);
	border-radius: var(--radius);
	box-shadow: var(--shadow-m);

	width: calc(100% - var(--x6));
	height: 100%;

	overflow: hidden;

	transition: all var(--transition-speed) ease-in-out;

	z-index: 10;
}

.tabs:hover {
	box-shadow: var(--shadow-l);
}

.tabs hr {
	border: var(--outline);
	width: 0px;
	height: var(--x1h);
}

/************************************************
hide/show buttons
************************************************/

.hide_button_container {
	position: relative;

	display: flex;
	align-items: center;

	width: var(--x2);

	margin-left: calc(var(--x2) - 16px);
}

.hide_button_container hr {
	position: absolute;
	left: calc(100% + (var(--x2) - 16px));
}

.hide_button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	display: flex;
	justify-content: center;
	align-items: center;

	width: var(--x2);

	padding-left: 0;
	padding-right: 0;
}

.hide_button svg {
	margin-left: var(--d9);
}

.hide_button_text {
	position: absolute;
	left: calc(100% + var(--x1h));

	transform: translateY(calc(-1 * var(--x4)));

	width: 100%;
	white-space: nowrap;

	transition: all var(--transition-speed-d2) ease-in-out;
}

.hide_button:hover ~ .hide_button_text {
	transform: translateY(0px);
	transition: all var(--transition-speed) ease-in-out;
}

.hide_button_container:hover ~ .tabs_list {
	transform: translateY(200%);
}

/************************************************
************************************************/

.scrolled {
	box-shadow: var(--shadow-l);
	width: calc(100% - var(--x5));
}

.tabs_list {
	position: absolute;
	right: calc(var(--x2) - 16px);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--x2);

	width: calc(100% - var(--x4) - 8px);
	height: 100%;

	overflow: hidden;

	transition: all var(--transition-speed-d2) ease-in-out;
}

.tab {
	position: relative;
}

.tab::after {
	content: '';
	position: absolute;
	bottom: -1px;

	background-color: var(--accent-8);
	border-radius: var(--radius) var(--radius) 0 0;

	width: calc(100% + var(--d2));
	height: 0px;

	transition: all var(--transition-speed-d4) ease-in-out;
}

.active {
	color: var(--gray-12);
	height: 100%;
}

.active:hover {
	background-color: transparent;
}

.active::after {
	height: var(--d2);

	transition-delay: var(--transition-speed-d4);
}

.active:hover::after {
	width: calc(100% + var(--x1));

	transition-delay: 0ms;
}
