.tabs_container {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	min-height: var(--x4);
	max-height: var(--x4);

	padding-left: var(--x2);
	margin-top: var(--x4);
	margin-bottom: calc(-1 * var(--x2));
}

.tabs {
	position: absolute;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--gray-1);
	border-radius: var(--radius);
	box-shadow: var(--shadow-m);

	width: calc(100% - var(--x6));
	height: 100%;

	transition: all 500ms ease-in-out;

	z-index: 10;
}

.scrolled {
	box-shadow: var(--shadow-l);
	width: calc(100% - var(--x5));
}

.tabs_list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--x2);

	width: 100%;
	height: 100%;

	padding: 0 var(--x2);

	overflow: hidden;

	transition: all 300ms ease-in-out;
}

.scrolled .tabs_list {
	padding: 0 var(--x2h);
}

.tabs hr {
	border: var(--outline);
	width: 0px;
	height: var(--x1h);
}

.tab {
	position: relative;
}

.active {
	color: var(--gray-12);
}

.active:hover {
	/* cursor: default; */
	background-color: transparent;
}

.active::after {
	content: '';
	position: absolute;
	bottom: -9px;

	background-color: var(--accent-8);
	border-radius: var(--radius) var(--radius) 0 0;

	width: calc(100% + var(--d2));
	height: var(--d2);

	transition: all 200ms ease-in-out;
}

.active:hover::after {
	/* bottom: -8px; */

	width: calc(100% + var(--x1));
}
