.blogs {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--x1);

	height: 100%;

	padding: var(--x4) var(--x4) var(--x4);

	overflow-y: scroll;

	/* hide scroll bars */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* hide scroll bars */
.blogs::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.blog {
	position: relative;

	display: flex;
	flex-direction: column;

	background-color: white;
	border-radius: var(--radius);

	box-shadow: var(--shadow-s);

	width: 100%;

	padding: var(--x2);
	margin: -1.5px 0;

	transition: all 200ms ease-in-out;
}

.blog:not(.active):hover {
	cursor: pointer;
	box-shadow: var(--shadow-m);
	transform: scale(1.01);
}

.blog * {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.row {
	display: grid;
	grid-template-columns: auto max-content;
	gap: 12px;
}

.title {
	font-size: var(--f4);
	font-weight: 700;
}

.badge * {
	color: var(--gray-11);
	font-size: var(--f2);
	font-weight: 400;
	letter-spacing: 0.01em;

	/* min-width: fit-content; */

	margin-top: 2px;
}

.date span {
	margin: 0 1px;
	opacity: 0.5;
}

.draft_badge,
.deleted_badge {
	border: 1px solid var(--gray-11);
	border-radius: var(--radius-s);

	padding: 0 var(--d2);
	margin-top: 3px;
}

.deleted_badge {
	color: var(--red-11);
	border: 1px solid var(--red-11);
}

.caption {
	font-size: var(--f2);
	font-weight: 500;
}

.text {
	color: var(--gray-10);
	font-size: var(--f2);
	font-weight: 400;
}

.active {
	--background-color: rgb(185, 199, 246);

	color: black;
	background-color: var(--background-color);
}

.active:hover {
	cursor: default;
	background-color: var(--background-color);
}

.active::after {
	display: none;
}
