.component {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.title::after {
	display: none;
}

.component aside {
	display: flex;
	flex-direction: column;
	gap: var(--medium);
}

.disabled {
	pointer-events: none;
}
